<!DOCTYPE html>
<!--Feature #5-->
<header>
<html lang="en">
<head>
    <style>
        p {color: orange}
        p1 {color: lightblue}
        p2 {color: magenta}
        p3 {color: darkred}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Base page{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>

</head>
<body ng-app="main_app.demo">

    {% verbatim %}
    <div ng-controller="Main_appController">
        <div ng-repeat="list in data">
            <h3>{{ list.name }}</h3>
            <ul>
                <li ng-repeat="product in list.products">{{ product.name }}</li>
            </ul>
        </div>
    </div>
    {% endverbatim %}


    <script>
        (function() {
            'use strict';

            angular.module('main_app.demo', [])

            .controller('Main_appController', ['$scope', Main_appController]);

            function Main_appController($scope) {
                $scope.data = [
                    {
                        name: 'Furniture',
                        products: [
                            {name: 'Table'},
                            {name: 'Chair'},
                            {name: 'Bed'},
                        ]
                    },
                    {
                        name: 'Fruit',
                        products: [
                            {name: 'Lemon'},
                            {name: 'Apple'},
                        ]
                    },
                ]
            };
        } )();
    </script>
    <div id="content">
        {{ q1 }}
        <br />
        {{ q2 }}
    </div>
</body>
</html>
</header>