<!DOCTYPE html>
<!--Feature #5-->
<header>
<html lang="en">
<head>
    <style>
        p {color: orange}
        p1 {color: lightblue}
        p2 {color: magenta}
        p3 {color: darkred}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Base page{% endblock %}</title>

</head>
  <body>
    <div id="content">
        {{ q1 }}
        <br />
        {{ q2 }}
        <!--{% for product in products %}-->
            <!--<ul>{{ product.name }} {{product.category.name}} {{ product.price }}</ul>-->
        <!--{% endfor %}-->
    </div>
  </body>
</html>
</header>